body{
    background-color:  hsl(216, 24%, 72%)
}
main{
    background-color: aliceblue;
    width: 240px;
    height: 380px;
    padding-top: 1px;
    border-radius: 20px;
    background-position: center center;
    margin: auto;
    margin-top: 200px;
}
img{
    border-radius: 20px;
    display: block;
    margin: auto;
    margin-top: -9px;
    
}
h2{
    font-size: 17px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
p{
    font-size: 14px;
    text-align: center;
    color:hsl(213, 8%, 57%)
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
